<section class="mb-4">
    <div class="p-4 p-md-5 bg-body-tertiary rounded-3">
        <div class="container-fluid py-3">
            <h1 class="display-6 fw-semibold">Inteligencia Artificial</h1>
            <p class="col-md-10 fs-6 mb-3">
                <br>
                <span class="fw-bold">TP 4 - Detección de formas con Transformada de Hough Lineales</span>
                <br>
                Implementar y evaluar la solución a través de la Transformada de Hough para detección de líneas rectas.
                <br><br>
                <a routerLink="/hough-lines" class="btn btn-primary">Abrir</a>
                <br><br>
                <span class="fw-bold">TP - Detección de formas con Transformada de Hough</span>
                <br>
                Implementar y evaluar la solución a través de la Transformada de Hough para detección de círculos.
                <br><br>
                <a routerLink="/hough-circles" class="btn btn-primary">Abrir</a>
            </p>
        </div>
    </div>
</section>

<section class="row g-3">
    <div class="col-md-4">
        <div class="card h-100 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">TP 2 – Búsqueda exhaustiva</h5>
                <p class="card-text">
                    Exploración BFS/DFS-límite sobre el eje H (x en mm).
                </p>
                <a routerLink="/exhaustive" class="btn btn-primary">Abrir</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card h-100 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">TP 2 – Búsqueda heurística</h5>
                <p class="card-text">
                    A* con heurística y costos
                </p>
                <a routerLink="/heuristic" class="btn btn-outline-primary">Abrir</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card h-100 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">TP3 – Hopfield</h5>
                <p class="card-text">
                    Prototipo Hopfield 10×10 – Identificación del aro "C"
                </p>
                <a routerLink="/hopfield" class="btn btn-primary">Abrir</a>
            </div>
        </div>
    </div>


</section>