<section class="mb-4">
    <div class="p-4 p-md-5 bg-body-tertiary rounded-3">
        <div class="container-fluid py-3">
            <h1 class="display-6 fw-semibold">TP – Búsquedas en espacio de estados</h1>
            <p class="col-md-10 fs-6 mb-3">                
                <br>
                Implementación busqueda exhaustiva (Punto 1) y heurística (Punto 2)
                sobre un modelo simple del desalineo en la línea de montaje.
            </p>
        </div>
    </div>
</section>

<section class="row g-3">
    <div class="col-md-6">
        <div class="card h-100 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">Punto 1 – Búsqueda exhaustiva</h5>
                <p class="card-text">
                    Exploración BFS/DFS-límite sobre el eje H (x en mm).
                </p>
                <a routerLink="/exhaustive" class="btn btn-primary">Abrir</a>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card h-100 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">Punto 2 – Búsqueda heurística</h5>
                <p class="card-text">
                    A* con heurística y costos
                </p>
                <a routerLink="/heuristic" class="btn btn-outline-primary">Abrir</a>
            </div>
        </div>
    </div>
</section>